[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sphinx = "*"

[packages]
pyproj = "*"
matplotlib = "*"
pyqt5 = "*"
requests = "*"
scipy = "*"
numpy = "*"
pillow = "*"
motionless = "*"

[requires]
python_version = "3.7"
